@use '../../../scss/' as *;

.container {
    width: 324px;
    padding: 25px 33px;

    .name {
        margin-bottom: 18px;
    }

    h3 {
        color: $text-color-3;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    p {
        color: $text-color-3;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 44px;
    }

    .member {
        display: flex;
        flex-direction: column;
        gap: 32px;

        &-item {
            display: flex;
            align-items: center;
            gap: 28px;

            img {
                width: 42px;
                height: 42px;
                border-radius: 7px;
            }

            h4 {
                color: $text-color-2;
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
}