@use '../../scss/' as *;

.loading-edit {
    width: 25% !important;
    height: 40% !important;
}

.back {
    min-width: 844px;
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
    color: #2D9CDB;
    font-size: 18px;

    a {
        color: #2D9CDB;
        font-size: 18px;
        font-weight: $weight-normal;
    }
}

.container {
    padding: 31px 49px 43px;

    .header {
        margin-bottom: 26px;

        h3 {
            color: $black-color;
            font-size: 24px;
            font-weight: $weight-normal;
            letter-spacing: -0.84px;
            margin-bottom: 4px;
        }

        p {
            color: $text-color-2;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: -0.455px;
        }
    }

    .avatar {
        display: flex;
        align-items: center;
        gap: 28px;
        margin-bottom: 33px;

        label {
            width: 72px;
            height: 72px;
            position: relative;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                border-radius: $radius-1;
                object-fit: cover;
                background: rgba(0, 0, 0, 0.20);
            }
            
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.20);
                border-radius: $radius-1;
            }

            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $white-color;
                width: 24px;
                height: 24px;
                z-index: 10;
            }
        }

        p {
            color: $text-color-2;
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    .input {
        margin-bottom: 24px;

        p {
            color: #4f4f4f;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: -0.455px;
            margin-bottom: 4px;
        }

        input, textarea {
            width: 60%;
            padding: 17px 18px;
            border: 1px solid $text-color-2;
            border-radius: $radius-2;
            font-size: 13px;
            font-weight: 500;
            color: #bdbdbd;

            &:focus {
                color: #4f4f4f;
            }
        }

        textarea {
            max-height: 92px;
        }
    }

    .input-error {
        p {
            color: #F3115E;
        }

        input, textarea {
            border-color: #F3115E;
        }
    }

    button {
        padding: 8px 24px;
        color: $white-color;
        font-size: 16px;
        font-weight: 500;
        border-radius: $radius-1;
    }
}

@media only screen and (min-width: 320px) and (max-width: 598px) {
    .back {
        min-width: 100%;
        padding: 0 22px;
    }

    .container {
        padding: 0 22px 43px;

        .input {
            input, textarea {
                width: 100%;
            }
        }
    }
}